body{
    background: #272727;
}
.block{
    border-radius: 10px;
    height: 200px;
    width: 350px;
    border: 2px solid black;
    margin: 200px auto;
    display: flex;
    overflow: hidden;
    
}
.card{
    flex: 1;
    height: 100%;
    transition: flex 0.5s ease;
    cursor: pointer;
}
.card1{
    background-color: red;
}
.card2{
    background-color: blue;
}
.card3{
    background-color: green;
}
.card4{
    background-color: yellow;
}
.card:hover{
    flex: 3;
}